[submodule "mini-swe-agent"]
	path = mini-swe-agent
	url = https://github.com/SWE-agent/mini-swe-agent
[submodule "tinker-atropos"]
	path = tinker-atropos
	url = https://github.com/nousresearch/tinker-atropos
[submodule "vendor/googleworkspace-cli"]
	path = vendor/googleworkspace-cli
	url = https://github.com/googleworkspace/cli
[submodule "Hermes_Project/mini-swe-agent"]
	path = Hermes_Project/mini-swe-agent
	url = https://github.com/SWE-agent/mini-swe-agent
[submodule "Hermes_Project/vendor/googleworkspace-cli"]
	path = Hermes_Project/vendor/googleworkspace-cli
	url = https://github.com/googleworkspace/cli
